table {
	font: 16px "Times New Roman";
	border-collapse: collapse;
}
td, th {
	border: 3px solid black;
	text-align: center;
}

tbody tr th:first-of-type{
	font-style: italic;
	font-weight: normal;
}

tbody td:first-of-type {
	color: red;
}

td:first-of-type + td + td {
	color: blue;
}

tbody tr:nth-child(odd){
	background-color: lightgreen;
}

tbody tr:nth-child(even){
	background-color: lightblue;
}

dt {
	font: 16px "Arial";
}

dt:hover{
	background-color: purple;
}

dd {
	font: 14px "Century";
}

legend {
	font: 16px "Times New Roman";}


.outer-content {
	width: 75%;
	background-color: pink;
	margin-top: 20px;
	padding: 20px;
}

.inner-content {
	background-color: blue;
	width: 75%;
	text-align: center;
	position: center;
	margin-left: auto;
	margin-right: auto;
	color: yellow;
} 

img {
	margin: 5px;
	float: left;
	height: 100px;
	width: 125px;
}